// box shadows
.bs-primary {
  box-shadow: inset 5px 5px 3px #372015,
            inset -5px -5px 3px #472a1b;
}
.bs-secondary {
  box-shadow: inset 5px 5px 3px #9a6437,
            inset -5px -5px 3px #c88247;
}
.bs-success {
  box-shadow: inset 5px 5px 3px #5a7756,
            inset -5px -5px 3px #749b70;
}
.bs-info {
  box-shadow: inset 5px 5px 3px #b99d8a,
            inset -5px -5px 3px #f1cdb4;

}
.bs-warning {
  box-shadow: inset 5px 5px 3px #8f3730,
            inset -5px -5px 3px #b9473e;
}
.bs-danger {
  box-shadow: inset 5px 5px 3px #251714,
            inset -5px -5px 3px #311f1a;
}
.card-hover-secondary:hover {
  box-shadow:  0 0 8px 1px #9a6437,
               0 0 8px 1px #c88247;
}
.card-hover-danger:hover {
  box-shadow: 0 0 12px 1px #231613,
             0 0 12px 1px #33201b;
}
.bs-light {
  box-shadow: inset 5px 5px 3px #d8d4cc,
            inset -5px -5px 3px #ffffff;
}
.card-hover-light:hover {
  box-shadow: inset 5px 5px 3px #d8d4cc,
            inset -5px -5px 3px #ffffff;
}
.bs-dark {
  box-shadow: inset 6px 6px 12px #290e10,
              inset -6px -6px 12px #3c1418;
}
// spacing
.py-6 {
  padding: 6rem 0 6rem;
}
.pt-6 {
  padding-top: 6rem;
}
.p-6 {
  padding: 6rem;
}
.py-10 {
  padding: 10rem 0 10rem;
}
.mb-20 {
  margin-bottom: 20rem;
}
.mt-6 {
  margin-top: 10rem !important;
}
.mb-5rem {
  margin-bottom: 5rem;
}
@media (max-width: 768px) {
  .mt-6 {
      margin-top: 2rem !important;
  }
}
// alignment
.h-align {
  margin-inline: auto;
}
// extra colors
.text-sage {
  color: $sage;
}
.bg-sage {
  background-color: $sage;
}
// custom styles
.bg-opaque {
  background-color: rgba($color: #000000, $alpha: 0.5);
}
.op-mid {
  opacity: 0.5;
}
.z-higher {
  z-index: 120;
}
.z-lower {
  z-index: 86;
}
.z-much-lower {
  z-index: 32;
}
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
